.css-13cymwt-control  .css-1uqdlj2 .css-1u9des2-indicatorSeparator {
    color: #888;
    border: none !important;
    border-right: none !important;
  }
 
  
  /* .css-13cymwt-control {
    border: 1px solid #EFEFEF !important;
    border-radius: 30px !important;
    outline: none !important;
    display: flex !important;
    flex-direction: row-reverse !important; 
    padding-right: 5px !important;
  } */
  /* .css-b62m3t-container:focus{
  
    display: flex !important;
    flex-direction: row-reverse !important; 
    padding-right: 5px !important;
  } */
  /* .css-b62m3t-container:hover{
  
    display: flex !important;
    flex-direction: row-reverse !important; 
    padding-right: 5px !important;
  } */
  .css-1cdp35k{
    border-right: none !important;
    border:none
  }