.input-comp {
    flex: grow 1;  ;
}
.compose-wrapper{
    -webkit-box-shadow: 0px 0px 96px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 96px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 96px 1px rgba(0,0,0,0.75);
}
.compose-wrapper{
    z-index: 2147483647;
}