.message:last-child {
    border-bottom: none;
  }
  .inbox-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .fixed-compose {
      -webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.55);
      -moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.55);
      box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.55);
  }
  
  .compose-mob{
      max-width: 100%;
     
  }